@charset "utf-8";
/* CSS Document */

.Top, span{
	/*Aendre Font Storrelse af Class Head*/
	Font-size: 75px;
}
span{
	text-align: left;
}
#home{
	padding-top: 100px;
}
.TableTop {
	/*Farve og detajler til topbar*/
	background: #B1B1B1;
	border: 2px solid;
	width: 100%;
}

.Hjem {
	/*Hjalp til at skalere ting paa menu baren i toppen*/
	width: 30%
}
.SkoleK{
	margin-top: 100px;
	margin-left: 200px;
}
.Tekst{
	background: black;
	opacity: 0.8;
	margin-left: 305px;
	width: 915px;
}
p{
	font-size: 20px;
	padding: 5px;
	color: white;
	text-align: left;
}
#Bar{
	border: 6px solid #870002;
}
#Spejder{
	float: none;
	padding: 20px 500px
}